/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.slider-container {
    position: relative;
    margin: 20px 0;
}

.form-range {
    width: 100%;
    appearance: none;
    background: transparent;
    position: relative;
    z-index: 1;
}

    /* Custom Red Thumb */
    .form-range::-webkit-slider-thumb {
        appearance: none;
        width: 18px;
        height: 18px;
        background: #c29958;
        border-radius: 50%;
        cursor: pointer;
    }

    .form-range::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: #c29958;
        border-radius: 50%;
        cursor: pointer;
    }

.shape-btn {
    width: 15%;
    height: auto;
    padding: 0px 2px 10px;
    /*margin:10px;*/
    margin: 5px 0px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: border-color 0.3s;
    border: solid dashed 1px;
}

    .shape-btn img {
        /* 
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        padding: 7px;*/
        width: 43px;
        vertical-align: middle;
        border-style: none;
        max-width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    .shape-btn span {
        padding: 1px 1px;
        width: 100%;
        display:block;
        /*display: none;*/
    }

    .shape-btn.selected {
        border: 2px solid #151542; /* Outline when selected */
    }

    .shape-btn:hover {
        border: 1px solid gray;
        display: block;
    }

        .shape-btn:hover span {
            font-family: PlayfairDisplay-Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bolder;
            display: block;
        }




/* header video page */

.video-area {
    position: relative;
    width: 100%;
    /* height: 85vh;*/
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1) contrast(1);
}

.video-content {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    /*background: rgba(0, 0, 0, 0.3);*/
    padding: 20px;
    border-radius: 10px;
}

.video-title {
    font-size: 32px;
    font-weight: bold;
}

.video-desc {
    font-size: 1.5rem;
    margin: 10px 0;
}

.video-down-arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    z-index: 3;
    padding: 30px;
    border-radius: 10px;
}

.btn-video {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    background: #ffcc00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .video-desc {
        font-size: 1rem;
    }

    .btn-video {
        font-size: 1rem;
        padding: 8px 16px;
    }

}

.down-arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    padding: 3px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    background-color: transparent;
    animation: bounce 1s infinite, pulse 2s infinite;
}

    .down-arrow::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left-color: #c29958; /* Orange */
        border-right-color: #fff;
        border-top-color: #c29958;
        border-bottom-color: #fff;
    }

/* */
.filter-cls {
    padding: 10px 0px;
}

.img-fluid-small {
    width: 50px;
    height: 50px;
    padding: 2px;
}

.product-box {
    /*background-color: #f9f9f9;*/ /* Light background */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/ /* Light shadow for depth */
}

.product-title h5 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Optional: Add some responsive design */
@media (max-width: 767px) {
    .product-box {
        padding: 8px;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.2);
    }
}




/* Style the image for the coverpage look */
/* Gray left slider */
.left-slider {
    background-color: gray;
    height: 100vh; /* Full height of the viewport */
    color: white;
    padding: 20px;
}

/* Right product slider */
/*.product-slider {
    background-color: #4169e1;*/ /* Light background for the product section */
/*height: 100vh;*/ /* Full height of the viewport */
/*padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* Optional: Add styles for the product slider itself */
/*.product-slider p {
        font-size: 24px;
        color: #333;
    }*/

/* Styling for the product box */
/*.product-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .product-box:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }*/

/*.product-image img {
    width: 100%;
    max-width: 100px;
    transition: transform 0.3s ease;
}

.product-box:hover .product-image img {
    transform: scale(1.1);
}

.product-title h5 {
    font-size: 1.1rem;
    color: #333;
    transition: color 0.3s ease;
}

.product-box:hover .product-title h5 {
    color: #4169e1;*/ /* Highlight color on hover */
/*}*/

/* Styling for the category image */
/*.category-image {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}*/

/* Ensure product grid is responsive */
/*@media (max-width: 768px) {
    .col-lg-4, .col-lg-8 {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .product-row {
        display: flex;
        flex-wrap: wrap;
    }

        .product-row .col-md-2 {
            flex: 1 0 48%;*/ /* Adjust to make product items more flexible */
/*margin-bottom: 15px;
        }
}*/



/* Styling for the section */
.useful-info-area {
    /*background-color: #f8f8f8;*/
    padding-top: 50px;
    padding-bottom: 50px;
    /*border-top: 3px solid #4169e1;*/
}

    /* Title Styling */
    .useful-info-area .title {
        font-size: 2rem;
        color: #333;
        font-weight: 600;
        margin-bottom: 30px;
    }

/* Styling for each carousel item */
.carousel-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Info Card Style */
.info-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .info-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

.info-title {
    font-size: 1.5rem;
    color: #4169e1;
    margin-bottom: 15px;
    font-weight: 600;
}

.info-description {
    font-size: 1rem;
    color: #555;
}

/* Carousel Controls */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #4169e1;
    border-radius: 50%;
    padding: 10px;
}

    .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
        background-color: #4169e1;
    }



/* Section Styling Home page Diamond Section */
.latest-blog-area {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.section-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Diamond Grid */
.diamond-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 10px;*/

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 0px;
}

.diamond-item {
    text-align: center;
    transition: transform 0.3s ease;
}

    .diamond-item:hover {
        transform: translateY(-10px);
    }

.diamond-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
    transition: transform 0.3s ease;
    display: inline-flex;
}

.diamond-item:hover .diamond-icon {
    transform: scale(1.1);
}

.diamond-item h5 {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 992px) {
    .diamond-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

@media (max-width: 768px) {
    .diamond-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .diamond-icon {
        width: 60px;
        height: 60px;
    }
}



/* Filter for filter box */

.filter-top-image {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

.filter-bg-shadow {
    box-shadow: 0px 4px 15px rgba(112, 112, 112, 0.53);
}

.filter-cover-container {
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);

}

/*.filter-top-container {
    padding-right: 15px;
    padding-left: 15px;
}*/

.gap-icon-filter {
    gap: 0.3rem !important;
}

@media only screen and (min-width: 1200px) {
    .filter-cover-container {
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }
}

.filter-scroll-bg {
    /*background: #151542 !important;*/
    height:8px;
    margin:15px 0px;
}

.range_slider {
    height: 30px !important;
    width: 105px !important;
    text-align:center;
    font-size:13px;
    font-weight:200;
}

.filter-label {
    /* width:95px!important;*/
    width: 90% !important;
}

/*#color-slider {
    color:#000000;
    width: 80%;
    margin: 20px auto;
}*/

.btn-dark {
    color: black !important;
    padding: .375rem .75rem !important;
    border: 1px solid #151542 !important;
    background-color: #fff !important
}
    .btn-dark:hover {
        color: white !important;
        background-color: #151542 !important
    }

.btn-danger {
    color: white !important;
    padding: .375rem .75rem !important;
    border: 1px solid #E83F25 !important;
    background-color: #E83F25 !important
}

    .btn-danger:hover {
        color: white !important;
        background-color: #E83F25 !important
    }

.text-upper {
    text-transform:uppercase;
}
.text-lower {
    text-transform: lowercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.width-85{
    width:85%;
}
.d-inline-block{
    display:inline-block;
}
.margin-left-2{
    margin-left:2px !important;
}

.ui-slider-horizontal .ui-slider-range {
    background: black; /* Change slider fill color */
}

.ui-slider-horizontal .ui-slider-handle {
    background: white;
    border: 2px solid black;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.filter-page-section-padding {
    padding-top: 24px;
    /*padding-bottom: 50px;*/
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.padding-top-60 {
    padding-top: 60px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.font-sans-serif {
    font-family: sans-serif !important;
}

.font-arial {
    font-family: Arial !important;
}

.font-arial {
    font-family: Arial !important;
}


.jewelry-mega-menu-display {
    display: grid !important;
    /*grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.font-size14{
    font-size:14px;
}

.font-size16 {
    font-size: 16px;
}

.font-size18 {
    font-size: 18px;
}

.text-white{
    color : white !important;
}

.bg-theme-color {
    background-color: #151542;
}

.gift-thumb:hover img{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0.7;
}

.btn-dark-style-2 {
    color:white;
    padding: .375rem .75rem !important;
    border: 1px solid #fff !important;
    background-color: #151542
}

    .btn-dark-style-2:hover {
        color: white;
        border: 1px solid #fff;
    }

.product-type-box {
    /*width: 300px;*/
    width: 150px;
    padding:10px 0px;
}


.shopby-category-card {
    background: #fff !important;
    color: #151542 !important;
    border-radius: 50%;
    margin-bottom: 5px;
}

.shopby-section {
    display: flex;
    gap: 0px 150px;
}

.product-type-padding-section{
    padding:0px 250px;
}

.product-type-detail-section{
    margin:20px 20px;
}


.shopby-category-img-shadow {
    box-shadow: -16px 6px 20px 2px #ffffff8a;
}
.border-radius-15 {
   /* border-radius: 15px;
    border-style: ridge;
    border-color: white;*/
}

.no-border{
    border:none !important;
}

    .no-border:hover {
        border: none !important;
    }

.delivery_date_shortcode {
    background: #fff;
    border: #fdfdfd solid 1px;
    padding: 12px 0;
    width: 70%
}

.shop-now-btn{
    width:160px;
    padding: 10px 0px !important;    
}
.scroll-down-image {
    height: 100px;
    width: 110px;
}

@media (max-width: 767px) {
    .delivery_date_shortcode {
        width: 100%
    }
}

@media (max-width: 991px) {
    .delivery_date_shortcode {
        width: 100%
    }
}


    .delivery_date_shortcode h2 {
        font-family: Jost,sans-serif;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 16px;
        text-transform: capitalize
    }

    .order_steps {
        display: flex;
        justify-content: space-between
    }

    .order_step_box {
        position: relative;
        width: 33.3333%;
        text-align: center
    }

        .order_step_box img {
            width: 30px;
            height: auto;
            background: #fff;
            opacity: 1;
            margin: 0 4px 3px;
            vertical-align: middle;
            display: inline-block
        }

        .order_step_box h6 {
            font-family: Jost,sans-serif;
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 3px
        }

        .order_step_box::after {
            content: "";
            position: absolute;
            top: .4em;
            left: calc(50% + 15px);
            height: .1em;
            background: #1d1d1d;
            z-index: 0;
            margin-top: 10px;
            width: 100%
        }

        .order_step_box:nth-child(3)::after {
            content: none
        }

    .product-details-img-border {
        border: 1.5px solid #151542 !important;
    }



    @media only screen and (max-width: 1440px) {
        .range_slider {
            width: 85px !important;
        }

        .shape-btn {
            /*width:19%;*/
            width: 23%;
        }

        .diamond-grid {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }

        .jewelry-mega-menu-display {
            display: grid !important;
            /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }

        .product-type-padding-section {
            padding: 0px 50px;
        }

        .product-type-box {
            /*width: 300px;*/
            width: 150px;
        }

        .shopby-section {
            gap: 0px 150px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .gap-icon-filter {
            gap: 0.1rem !important;
        }

        .shape-btn {
            width: 29%;
        }

        .range_slider {
            width: 90px !important;
        }

        .diamond-grid {
            grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        }

        .jewelry-mega-menu-display {
            display: grid !important;
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }

        .product-type-padding-section {
            padding: 0px 50px;
        }

        .product-type-box {
            /*width: 200px;*/
            width: 120px;
        }

        .shopby-section {
            gap: 0px 90px;
        }
    }

    @media only screen and (max-width: 768px) {
        .gap-icon-filter {
            gap: 0.1rem !important;
        }

        .shape-btn {
            width: 15%;
        }

        .range_slider {
            width: 110px !important;
        }

        .product-type-padding-section {
            padding: 0px 50px;
        }

        .product-type-box {
            /*width: 135px;*/
            width: 120px;
        }

        .shopby-section {
            gap: 0px 25px;
        }
    }

    @media only screen and (max-width: 440px) {
        .gap-icon-filter {
            gap: 0 !important;
        }

        .shape-btn {
            width: 29%;
        }

        .chk-filter {
            display: inline-block !important;
        }

        .width-85 {
            width: 60%;
        }

        .range_slider {
            width: 95px !important;
        }

        .video-title {
            /* font-size: 22px;*/
            font-size: 16px;
        }

        .video-content {
            /*left: 65%;*/
            left:50%;
            top:77%;
        }
        .video-down-arrow {
            top: 93%;
        }
        .shop-now-btn{
            padding:5px !important;
        }

        .scroll-down-image {
            height: 60px;
            width: 60px;
        }
    }


    @media only screen and (max-width: 700px) {
        .gap-icon-filter {
            gap: 0.1rem !important;
        }

        .shape-btn {
            width: 24%;
        }

        .range_slider {
            width: 110px !important;
        }

        .product-type-padding-section {
            padding: 0px 50px;
        }

        .product-type-box {
            /*width: 135px;*/
            width: 120px;
        }

        .shopby-section {
            display: block;
        }

        .product-type-box {
            margin-bottom: 10px;
        }
    }


@media only screen and (max-width: 500px) {
    .shopby-category-card {
        border-radius: 10%;
        margin: 3px 8px;
    }
}

@media only screen and (max-width: 400px) {
    .product-type-box {
        width: 90px;
        padding:0px;
    }

    .shopby-category-card {
        margin: 3px 8px;
    }

}


@media only screen and (max-width: 320px) {
    .shopby-section {
        display: flex;
        overflow: auto;
    }

    .product-type-box {
        width: 90px
    }

    .shopby-category-card {
        margin: 1px 8px;
    }
}

    #loader {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url('../assets/loader/JF-WEB-LOADER.gif') no-repeat center;
        z-index: 30001;
        opacity: 0.8;
    }

    .loader-box {
        height: 150px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        vertical-align: middle;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: .3s color, .3s border, .3s transform, .3s opacity;
        transition: .3s color, .3s border, .3s transform, .3s opacity
    }

        .loader-box [class*="loader-"] {
            display: inline-block;
            width: 50px;
            height: 50px;
            color: inherit;
            vertical-align: middle
        }

        .loader-box .loader-1 {
            border: 0.2em dotted #7366ff;
            border-radius: 50%;
            -webkit-animation: 1s loader-01 linear infinite;
            animation: 1s loader-01 linear infinite
        }


    /* Product Filters */

    /*.product-shape-btn span.shape-name {
    
}*/

    /*.product-shape-btn {
    width: 15%;
    height: auto;
    padding: 0px 2px 10px;*/
    /*margin:10px;*/
    /*margin: 5px 0px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: border-color 0.3s;
    border: solid dashed 1px;
}

    .product-shape-btn img {*/
    /* 
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        padding: 7px;*/
    /*width: 43px;
        vertical-align: middle;
        border-style: none;
        max-width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    .product-shape-btn span.shape-name {
        display: none;
        padding: 1px 1px;
        width: 100%;*/
    /*display: block;*/
    /*display: none;
    }

    .product-shape-btn .selected {
        border: 2px solid #151542;*/ /* Outline when selected */
    /*}

    .product-shape-btn:hover {
        border: 1px solid gray;
        display: block;
    }

        .product-shape-btn:hover span.shape-name {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bolder;
            display: block;
        }*/

    .text-theme-color-font {
        color: #151542 !important;
    }

    .promise-box {
        text-align: center;
        font-size: 14px;
        color: #060606;
        text-transform: capitalize;
        font-weight: 400;
        padding: 15px 10px;
        border: 1px solid dimgray;
        border-radius: 10px;
        height: 100%;
    }


        .promise-box img {
            display: block;
            margin: 20px auto;
            height: auto;
            width: 100%;
            max-width: 50px;
        }