/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.slider-container {
    position: relative;
    margin: 20px 0;
}

.form-range {
    width: 100%;
    appearance: none;
    background: transparent;
    position: relative;
    z-index: 1;
}

    /* Custom Red Thumb */
    .form-range::-webkit-slider-thumb {
        appearance: none;
        width: 18px;
        height: 18px;
        background: #c29958;
        border-radius: 50%;
        cursor: pointer;
    }

    .form-range::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: #c29958;
        border-radius: 50%;
        cursor: pointer;
    }

.shape-btn {
    border: 2px solid transparent;
    padding: 3px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: border-color 0.3s;
}

    .shape-btn img {
        width: 35px; /* Adjust size */
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
    }

    .shape-btn.selected {
        border: 2px solid #007bff; /* Outline when selected */
    }

    .shape-btn:hover {
        border: 2px solid #000000;
    }


/* header video page */

.video-area {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1) contrast(1);
}

.video-content {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    /*background: rgba(0, 0, 0, 0.3);*/
    padding: 20px;
    border-radius: 10px;
}

.video-title {
    font-size: 3rem;
    font-weight: bold;
}

.video-desc {
    font-size: 1.5rem;
    margin: 10px 0;
}

.video-down-arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    z-index: 3;
    padding: 30px;
    border-radius: 10px;
}

.btn-video {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    background: #ffcc00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .video-title {
        font-size: 2rem;
    }

    .video-desc {
        font-size: 1rem;
    }

    .btn-video {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

.down-arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    padding: 3px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    background-color: transparent;
    animation: bounce 1s infinite, pulse 2s infinite;
}

    .down-arrow::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left-color: #c29958; /* Orange */
        border-right-color: #fff;
        border-top-color: #c29958;
        border-bottom-color: #fff;
    }

/* */
.filter-cls {
    padding: 10px 0px;
}

.img-fluid-small {
    width: 50px;
    height: 50px;
    padding: 2px;
}

.product-box {
    /*background-color: #f9f9f9;*/ /* Light background */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/ /* Light shadow for depth */
}

.product-title h5 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Optional: Add some responsive design */
@media (max-width: 767px) {
    .product-box {
        padding: 8px;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.2);
    }
}


/* Resize the diamond icons */
.small-diamond-icon {
    width: 45%; /* Adjust size as needed */
    height: auto;
}

/* Style the image for the coverpage look */
/* Gray left slider */
.left-slider {
    background-color: gray;
    height: 100vh; /* Full height of the viewport */
    color: white;
    padding: 20px;
}

/* Right product slider */
.product-slider {
    background-color: #4169e1; /* Light background for the product section */
    height: 100vh; /* Full height of the viewport */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Optional: Add styles for the product slider itself */
    .product-slider p {
        font-size: 24px;
        color: #333;
    }

/* Styling for the product box */
.product-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .product-box:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

.product-image img {
    width: 100%;
    max-width: 100px;
    transition: transform 0.3s ease;
}

.product-box:hover .product-image img {
    transform: scale(1.1);
}

.product-title h5 {
    font-size: 1.1rem;
    color: #333;
    transition: color 0.3s ease;
}

.product-box:hover .product-title h5 {
    color: #4169e1; /* Highlight color on hover */
}

/* Styling for the category image */
.category-image {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Ensure product grid is responsive */
@media (max-width: 768px) {
    .col-lg-4, .col-lg-8 {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .product-row {
        display: flex;
        flex-wrap: wrap;
    }

        .product-row .col-md-2 {
            flex: 1 0 48%; /* Adjust to make product items more flexible */
            margin-bottom: 15px;
        }
}



/* Styling for the section */
.useful-info-area {
    /*background-color: #f8f8f8;*/
    padding-top: 50px;
    padding-bottom: 50px;
    /*border-top: 3px solid #4169e1;*/
}

    /* Title Styling */
    .useful-info-area .title {
        font-size: 2rem;
        color: #333;
        font-weight: 600;
        margin-bottom: 30px;
    }

/* Styling for each carousel item */
.carousel-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Info Card Style */
.info-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .info-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

.info-title {
    font-size: 1.5rem;
    color: #4169e1;
    margin-bottom: 15px;
    font-weight: 600;
}

.info-description {
    font-size: 1rem;
    color: #555;
}

/* Carousel Controls */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #4169e1;
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: #4169e1;
}

/* Range */

