@model DataAccess.Entities.Blogs

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h4 class="text-uppercase fw-bold border-bottom pb-2">@ViewBag.Title</h4>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-xl-10">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-8">
                            <form asp-action="GetBlogById" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group mb-3">
                                    <input asp-for="Id" class="form-control" type="hidden" />
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="BlogCategory" class="control-label"></label>
                                    <select asp-for="BlogCategory" class="form-control">
                                        <option value="PROPOSALS & WEDDINGS">PROPOSALS & WEDDINGS</option>
                                        <option value="DIAMONDS & EDUCATION">DIAMONDS & EDUCATION</option>
                                        <option value="TRENDS & INSPIRATION">TRENDS & INSPIRATION</option>
                                        <option value="FASHION & LIFESTYLE">FASHION & LIFESTYLE</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="ShortDescription" class="control-label"></label>
                                    <textarea asp-for="ShortDescription" class="form-control"></textarea>
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="ImageFile" class="form-label">Upload Blog Image</label>
                                    <input type="file" asp-for="ImageFile" class="form-control" />
                                    <div class="form-text">Recommended image size: 951 x 475 pixels</div>
                                </div>

                                <div class="form-check  mb-3">
                                    <input asp-for="IsActive" class="form-check-input" />
                                    <label asp-for="IsActive" class="form-check-label">Is Activated</label>
                                </div>

                                <div class="form-check  mb-3">
                                    <input asp-for="IsDisplayHome" class="form-check-input" />
                                    <label asp-for="IsDisplayHome" class="form-check-label">Is Display Home</label>
                                </div>

                                <div class="form-check mb-3">
                                    <button type="submit" class="btn btn-theme mt-2">Submit</button>
                                    <a href="@Url.Action("Index","Category")" class="btn btn-danger mt-2">Back to list</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4">
                            <div>
                                @if (@Model.BlogImage != null)
                                {
                                    <img src="@Model.BlogImage" id="imagePreview" class="img-fluid img-responsive img-thumbnail" />
                                }
                                else
                                {
                                    <img src="~/assets/img/no-image.png" id="imagePreview" class="img-fluid img-responsive img-thumbnail" />

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                height: 400,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });

        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const output = document.getElementById('imagePreview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        function copySEOUrl() {
            const input = document.getElementById("seoUrlInput");
            input.select();
            input.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand("copy");
        }
    </script>
}
