
<section>
	<div class="container-fluid">
		<img src="" />
	</div>
</section>
<!-- Product Section -->
<section class="product-area section-padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="title">Shop Lab Created Loose Diamonds</h2>
			</div>
		</div>
		<hr />
		<div class="card border-1 shadow-sm">
			<div class="card-body p-4">
				<div class="row g-4">
					<!-- Shapes Section -->
					<div class="col-lg-4">
						<h4>Shapes</h4>
						@* <div class="diamond-icon-dt pt-5">
							<a href="javascript:void(0);" class="img-contain" rel="nofollow">
								<span class="thumb">
									<img src="~/assets/img/diamond-svg/Oval.svg" width="150" height="150" alt="Round Lab Grown Diamond">
								</span>
								<span class="dm-icon-name">Round</span>
							</a>
							<ul class="shape fstyle-shape">
								<li>
									<a href="javascript:void(0);" class="img-contain" rel="nofollow">
										<span class="thumb">
											<img src="~/assets/img/diamond-svg/Emerald.svg" width="150" height="150" alt="Round" class="diamond-icon" />
										</span>
										<span class="dm-icon-name">Emerald</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="img-contain" rel="nofollow">
										<span class="thumb">
											<img src="~/assets/img/diamond-svg/Heart.svg" width="150" height="150" alt="Round" class="diamond-icon" />
										</span>
										<span class="dm-icon-name">Heart</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="img-contain" rel="nofollow">
										<span class="thumb">
											<img src="~/assets/img/diamond-svg/Emerald.svg" width="150" height="150" alt="Round" class="diamond-icon" />
										</span>
										<span class="dm-icon-name">Emerald</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="img-contain" rel="nofollow">
										<span class="thumb">
											<img src="~/assets/img/diamond-svg/Oval.svg" width="150" height="150" alt="Round" class="diamond-icon" />
										</span>
										<span class="dm-icon-name">Oval</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="img-contain" rel="nofollow">
										<span class="thumb">
											<img src="~/assets/img/diamond-svg/Oval.svg" idth="150" height="150" alt="Oval" class="diamond-icon" />
										</span>
										<span class="dm-icon-name">Oval</span>
									</a>
								</li>
							</ul>
						</div> *@

						<div class="content">
							<ul class="shape fstyle-shape">
								<li class="selshape shape_id_1" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('1','Round');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/round.svg" width="150" height="150" alt="Round Lab Grown Diamond"></span>
										<span class="name">Round</span>
									</a>
								</li>
								<li class="selshape shape_id_2" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('2','Oval');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/oval.svg" width="150" height="150" alt="Oval Lab Grown Diamond"></span>
										<span class="name">Oval</span>
									</a>
								</li>
								<li class="selshape shape_id_8" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('8','Cushion');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/cushion.svg" width="150" height="150" alt="Cushion Lab Grown Diamond"></span>
										<span class="name">Cushion</span>
									</a>
								</li>
								<li class="selshape shape_id_4" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('4','Pear');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/pear.svg" width="150" height="150" alt="Pear Lab Grown Diamond"></span>
										<span class="name">Pear</span>
									</a>
								</li>
								<li class="selshape shape_id_6" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('6','Emerald');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/emerald.svg" width="150" height="150" alt="Emerald Lab Grown Diamond"></span>
										<span class="name">Emerald</span>
									</a>
								</li>
								<li class="selshape shape_id_10" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('10','Radiant');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/radiant.svg" width="150" height="150" alt="Radiant Lab Grown Diamond"></span>
										<span class="name">Radiant</span>
									</a>
								</li>
								<li class="selshape shape_id_3" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('3','Princess');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/princess.svg" width="150" height="150" alt="Princess Lab Grown Diamond"></span>
										<span class="name">Princess</span>
									</a>
								</li>
								<li class="selshape shape_id_5" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('5','Marquise');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/marquise.svg" width="150" height="150" alt="Marquise Lab Grown Diamond"></span>
										<span class="name">Marquise</span>
									</a>
								</li>
								<li class="selshape shape_id_7" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('7','Asscher');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/asscher.svg" width="150" height="150" alt="Asscher Lab Grown Diamond"></span>
										<span class="name">Asscher</span>
									</a>
								</li>
								<li class="selshape shape_id_9" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('9','Heart');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/heart.svg" width="150" height="150" alt="Heart Lab Grown Diamond"></span>
										<span class="name">Heart</span>
									</a>
								</li>
								<li class="selshape shape_id_11" onclick="if (!window.__cfRLUnblockHandlers) return false; selshape('11','Elongated Cushion');">
									<a href="javascript:void(0);" class="" rel="nofollow">
										<span class="thumb"><img src="https://images.grownbrilliance.com/general_images/filterIcon/dshape/elongated cushion.svg" width="150" height="150" alt="Elongated Cushion Lab Grown Diamond"></span>
										<span class="name">Elongated Cushion</span>
									</a>
								</li>
							</ul>
							<div class="text-center d-none mt-3 dmd-cnt-div">
								<a href="javascript:void(0);" class="btn btn-primary d-block flt-btn-viewdiamonds" rel="nofollow">View all <span class="total-dmd"><img src="https://www.grownbrilliance.com//images/ajax-loader.gif" alt="loading" align="absmiddle" class="h-21"></span> diamonds</a>
							</div>
						</div>
					</div>

					<!-- Filters Section -->
					<div class="col-lg-3 filter-container">
						<h4 class="mb-4">Filters</h4>

						<!-- Carat Size Filter -->
						<div class="mb-4">
							<div class="row filter-cls">
								<div class="col-6">
									<label for="minCaratSize" class="form-label">Carat Size <span><img src="~/assets/img/icon/diamond-icon.png" style="width:25px;" /></span> </label>
								</div>
								<div class="col-6">
									<div class="d-flex mb-2">
										<input type="text" class="form-control txt-bolder me-2" placeholder="Min Carat" id="minCaratSize" />
										<input type="text" class="form-control txt-bolder" placeholder="Max Carat" id="maxCaratSize" />
									</div>
								</div>
							</div>
							<div id="carat-size-slider" class="slider"></div>
						</div>

						<!-- Price Filter -->
						<div class="mb-4">
							<div class="row filter-cls">
								<div class="col-6">
									<label for="minPrice" class="form-label">Price <span>$</span></label>
								</div>
								<div class="col-6">
									<div class="d-flex mb-2">
										<input type="text" class="form-control txt-bolder me-2" placeholder="Min Price" id="minPrice" />
										<input type="text" class="form-control txt-bolder" placeholder="Max Price" id="maxPrice" />
									</div>
								</div>
							</div>
							<div id="price-slider" class="slider"></div>
						</div>
					</div>

					<!-- More Filters -->
					<div class="col-lg-3">
						<h4>More Filters</h4>
						<div class="mb-3">
							<div class="row filter-cls">
								<div class="col-8">
									<label for="minColor" class="form-label">Color</label>
								</div>
								<div class="col-4">
									<div class="d-flex mb-2">
										<a href="#"><i class="fa fa-question-circle"></i> Rest Filter</a>
									</div>
								</div>
							</div>
							<div id="color-slider" class="slider"></div>
						</div>

						<div class="mb-3">
							<label class="form-label">Cut</label>
							<input type="range" class="form-range" id="cut-slider" min="1" max="2" step="1" value="2">
							<p>Selected: <span id="cut-value">Ideal</span></p>
						</div>

						<div class="mb-3">
							<label class="form-label">Clarity</label>
							<input type="range" class="form-range" id="clarity-slider" min="1" max="5" step="1" value="5">
							<p>Selected: <span id="clarity-value">FL</span></p>
						</div>
					</div>

					<!-- Image -->
					<div class="col-lg-3 text-center">
						<img src="~/assets/img/banner/Sustainable_Diamond_Banner.png" class="img-fluid rounded shadow-sm" alt="Diamond Process">
					</div>
				</div>

				<!-- Additional Filters -->
				<div class="d-flex gap-3 mt-3">
					<label><input type="checkbox"> Aether Diamonds</label>
					<label><input type="checkbox"> QUICK SHIP</label>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Product Table -->
<div class="container-fluid">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead class="bg-light">
				<tr>
					<th>Actions</th>
					<th>Shape</th>
					<th>Carat</th>
					<th>Color</th>
					<th>Clarity</th>
					<th>Cut</th>
					<th>CERT.</th>
					<th>Polish</th>
					<th>Symmetry</th>
					<th>Depth</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<i class="fa fa-heart text-danger"></i>
						<i class="fa fa-exchange-alt text-primary ms-2"></i>
					</td>
					<td>Emerald</td>
					<td>10.67 ct</td>
					<td>F</td>
					<td>VS1</td>
					<td>Ideal</td>
					<td>GIA</td>
					<td>Excellent</td>
					<td>Excellent</td>
					<td>67.40%</td>
					<td>$26,995</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<script>
		$(function() {
			$("#carat-size-slider").slider({
				range: true,
				min: 0,
				max: 10,
				step:0.1,
				values: [2, 8],
				slide: function(event, ui) {
					$("#minCaratSize").val(ui.values[0]);
					$("#maxCaratSize").val(ui.values[1]);
				}
			});

			$("#price-slider").slider({
				range: true,
				min: 500,
				max: 50000,
				step:0.01,
				values: [5000, 30000],
				slide: function(event, ui) {
					$("#minPrice").val("$"+ui.values[0]);
					$("#maxPrice").val("$"+ui.values[1]);
				}
			});

			$("#color-slider").slider({
				range: true,
				min: 500,
				max: 50000,
				step: 1, // Default step (we'll change it dynamically)
				slide: function(event, ui) {
				// Calculate step based on the slider value
				let currentValue = ui.value;

				// Define your custom steps
				const F = 500;
				const M = 1000;
				const T = 5000;

				let step = 1; // Default step

				if (currentValue <= F) {
				  step = F;
				} else if (currentValue <= M) {
				  step = M;
				} else {
				  step = T;
				}

				// Log the step to see the behavior
				console.log("Current step: ", step);

				// Optionally, update the slider step value dynamically here (not necessary but possible)
				$(this).slider('option', 'step', step);
				}
		});



			$("#minPrice").val($("#price-slider").slider("values", 0));
			$("#maxPrice").val($("#price-slider").slider("values", 1));
			$("#minCaratSize").val($("#carat-size-slider").slider("values",0));
			$("#maxCaratSize").val($("#carat-size-slider").slider("values",1));
		});
	</script>
}
