<section>
	<div class="listingpage">
		<div class="home-giftbanner-main position-relative left-text-banner">
			<a href="#" aria-label="" class="d-block">
				<div class="ole-image-banner thumb text-center ">
					<img src="~/assets/img/banner/filter-cover-image.jpg" class="filter-top-image" width="3840" height="300" alt="" title="" />
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Product Section -->
<section class="product-area filter-page-section-padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="title font-sans-serif">Shop Lab Created Loose Diamonds</h2>
			</div>
		</div>
	</div>
	<hr />
	<div class="container-fluid">
		<div class="card border-1 filter-bg-shadow">
			<div class="card-body p-3">
				<div class="row g-4">
					<!-- Shapes Section -->
					<div class="col-lg-4">
						<h4>Shapes</h4>
						<div class="diamond-icon-dt pt-4">
							<div class="d-flex flex-wrap gap-icon-filter">
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/Oval.svg" alt="Oval" />
									<span>Oval</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/Round.svg" alt="Round" />
									<span>Round</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/emerald.svg" alt="Emerald" />
									<span>Emerald</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/Princess.svg" alt="Princess" />
									<span>Princess</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/heart.svg" alt="Heart" />
									<span>Heart</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/Asscher.svg" alt="Asscher" />
									<span>Asscher</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/cushion.svg" alt="Cushion" />
									<span>Cushion</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/Marquise.svg" alt="Marquise" />
									<span>Marquise</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/Radiant.svg" alt="Radiant" />
									<span>Radiant</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/pear.svg" alt="pear" />
									<span>Pear</span>
								</div>
								<div class="shape-btn text-center">
									<img src="/assets/img/shape-svg/elongated cushion.svg" alt="elongated cushion" />
									<span>Elongated Cushion</span>

								</div>
							</div>
						</div>
					</div>

					<!-- Filters Section -->
					<div class="col-lg-8">
						<div class="d-flex">
							<h4 class="mb-4 width-85">Filters</h4>
							<span class="text-right d-inline-block" id="btnReset"><i class="fa fa-refresh"></i> Reset Filters</span>
						</div>

						<!-- Carat Size Filter -->

						<div class="row filter-cls">
							<div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
								<div class="d-flex mb-2">
									<div class="filter-label">
										<label for="minCaratSize" class="form-label" style="padding-right:2px;">CaratSize <span><img src="~/assets/img/icon/diamond-icon.png" style="width:25px;" /></span> </label>
									</div>
									<div class="d-flex">
										<input type="text" class="form-control txt-bolder me-2 range_slider" placeholder="Min Carat" id="minCaratSize" />
										- <input type="text" class="form-control txt-bolder range_slider margin-left-2" placeholder="Max Carat" id="maxCaratSize" />
									</div>

								</div>
								<div id="carat-size-slider" class="slider filter-scroll-bg"></div>
							</div>

							<div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                                <div class="d-flex mb-2">
                                    <div class="filter-label">
                                        <label for="minColor" class="form-label" style="padding-right: 2px;">Color </label>
                                    </div>

                                    <div class="d-flex">
                                        <input type="text" class="form-control txt-bolder me-2 range_slider" id="minColor" />
                                        - <input type="text" class="form-control txt-bolder range_slider margin-left-2"  id="maxColor" />
                                    </div>
                                    
                                </div>
								<div id="color-slider" class="slider filter-scroll-bg"></div>
							</div>

							<div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
								<div class="d-flex mb-2">
									<div class="filter-label">
										<label for="minCut" class="form-label" style="padding-right: 2px;">Cut</label>
									</div>
                                    <div class="d-flex">
                                        <input type="text" class="form-control txt-bolder me-2 range_slider" id="minCut" />
                                        - <input type="text" class="form-control txt-bolder range_slider margin-left-2"  id="maxCut" />
                                    </div>
								</div>
								<div id="Cut-slider" class="slider filter-scroll-bg"></div>
							</div>

							<div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
								<div class="d-flex mb-2">
									<div class="filter-label">
										<label for="minPrice" class="form-label" style="padding-right: 2px;">Price <span>$</span></label>
									</div>
									<div class="d-flex">
										<input type="text" class="form-control txt-bolder me-2 range_slider" placeholder="Min Price" id="minPrice" />
										- &nbsp;<input type="text" class="form-control txt-bolder range_slider margin-left-2" placeholder="Max Price" id="maxPrice" />
									</div>
								</div>
								<div id="price-slider" class="slider filter-scroll-bg"></div>
							</div>

							<div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
								<div class="d-flex mb-2">
									<div class="filter-label">
										<label for="minClarity" class="form-label" style="padding-right: 2px;">Clarity</label>
									</div>
                                    <div class="d-flex">
                                        <input type="text" class="form-control txt-bolder me-2 range_slider" id="minClarity" />
                                        - <input type="text" class="form-control txt-bolder range_slider margin-left-2" id="maxClarity" />
                                    </div>
								</div>
								<div id="Clarity-slider" class="slider filter-scroll-bg"></div>
							</div>


							<div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 ds_fbox_inner_main6 ds_fbox_inner">
								<!-- What metter Filter [START] -->
								<div class="what-matter-dtlmain">
									<input type="hidden" name="sel_matter_box_txt" id="sel_matter_box_txt" value="">
									<div class="ds_opsun">
										<label class="form-label" style="padding-right: 2px;">What matters to you most?</label>
										<div class="content">
											<button class="btn btn-dark text-capitalize" id="btnPrice">Price</button>
											<button class="btn btn-dark text-capitalize" id="btnQuality">Quality</button>
											<button class="btn btn-dark text-capitalize" id="btnViewAll">View All</button>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<div class="row">
					<div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12">
						<div class="d-flex chk-filter gap-3 mt-3">
							<label><input type="checkbox" id="chkAetherDiamonds" class="text-capitalize"> Aether Diamonds</label>
							<label><input type="checkbox" id="chkQuickShip" class="text-capitalize"> QUICK SHIP</label>
							<label><input type="checkbox" id="chkReport" class="text-capitalize"> Report</label>
							<label><input type="checkbox" id="chkIGI" class="text-capitalize"> IGI</label>
							<label><input type="checkbox" id="chkGIA" class="text-capitalize"> GIA</label>
						</div>
					</div>
					<div class="col-xxl-4 col-xl-4 col-lg-5 col-md-12">
                        <div class="mt-3">
                            <button class="btn btn-dark text-capitalize" id="btnCompareDiamonds">Compare Diamonds</button>
                            <button class="btn btn-dark text-capitalize" id="btnTakeQUIZ">Take A QUIZ</button>
                            <button class="btn btn-dark text-capitalize" id="btnMoreFilter">MoreFilter</button>
                        </div>
					</div>
				</div>
				<!-- Additional Filters -->

			</div>
		</div>
	</div>
</section>

<!-- Product Table -->
<div class="container-fluid">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead class="bg-light">
				<tr>
					<th>Actions</th>
					<th>Shape</th>
					<th>Carat</th>
					<th>Color</th>
					<th>Clarity</th>
					<th>Cut</th>
					<th>CERT.</th>
					<th>Polish</th>
					<th>Symmetry</th>
					<th>Depth</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<i class="fa fa-heart text-danger"></i>
						<i class="fa fa-exchange-alt text-primary ms-2"></i>
					</td>
					<td>Emerald</td>
					<td>10.67 ct</td>
					<td>F</td>
					<td>VS1</td>
					<td>Ideal</td>
					<td>GIA</td>
					<td>Excellent</td>
					<td>Excellent</td>
					<td>67.40%</td>
					<td>$26,995</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

@section Scripts {    
	<script>
        
		$(function () {

			var fixColors = ["D", "E", "F"];
            var fixClarity = ["IF", "VVS1", "VVS2", "VS1","VS2"];
            var fixCut = ["IDEAL", "EXCELLENT","VERY GOOD","GOOD","FAIR"];

			$("#carat-size-slider").slider({
				range: true,
				min: 0,
				max: 10,
				step: 0.1,
				values: [2, 8],
				slide: function (event, ui) {
					$("#minCaratSize").val(ui.values[0]);
					$("#maxCaratSize").val(ui.values[1]);
				}
			});

			$("#price-slider").slider({
				range: true,
				min: 500,
				max: 50000,
				step: 0.01,
				values: [5000, 30000],
				slide: function (event, ui) {
					$("#minPrice").val("$" + ui.values[0]);
					$("#maxPrice").val("$" + ui.values[1]);
				}
			});
						
            
            $("#color-slider").slider({
                range: true,
                min: 0,
                max: fixColors.length - 1,
                step: 1,
                values: [0,1], 
                slide: function (event, ui) {
                    $("#minColor").val(fixColors[ui.values[0]]);
                    $("#maxColor").val(fixColors[ui.values[1]]);
                }
            });


            $("#color-slider").slider({
                range: true,
                min: 0,
                max: fixColors.length - 1,
                step: 1,
                values: [0, 1],
                slide: function (event, ui) {
                    $("#minColor").val(fixColors[ui.values[0]]);
                    $("#maxColor").val(fixColors[ui.values[1]]);
                }
			});


            $("#Cut-slider").slider({
                range: true,
                min: 0,
                max: fixCut.length - 1,
                step: 1,
                values: [0, 1],
				slide: function (event, ui) {
					$("#minCut").val(fixCut[ui.values[0]]);
                    $("#maxCut").val(fixCut[ui.values[1]]);
                }
			});


            $("#Clarity-slider").slider({
                range: true,
                min: 0,
                max: fixClarity.length - 1,
                step: 1,
                values: [0, 1],
                slide: function (event, ui) {
                    $("#minClarity").val(fixClarity[ui.values[0]]);
                    $("#maxClarity").val(fixClarity[ui.values[1]]);
                }
            });
            

			$("#minPrice").val("$ "+$("#price-slider").slider("values", 0));
			$("#maxPrice").val("$ "+$("#price-slider").slider("values", 1));
			$("#minCaratSize").val($("#carat-size-slider").slider("values",0));
			$("#maxCaratSize").val($("#carat-size-slider").slider("values", 1));

            $("#minColor").val(fixColors[$("#color-slider").slider("values", 0)]);
			$("#maxColor").val(fixColors[$("#color-slider").slider("values", 1)]);

            $("#minCut").val(fixCut[$("#Cut-slider").slider("values", 0)]);
            $("#maxCut").val(fixCut[$("#Cut-slider").slider("values", 1)]);

            $("#minClarity").val(fixClarity[$("#Clarity-slider").slider("values", 0)]);
            $("#maxClarity").val(fixClarity[$("#Clarity-slider").slider("values", 1)]);
		});
		        
	</script>
}
