<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="true">
		<Found Context="routeData">
			<RouteView RouteData="@routeData" DefaultLayout="@GetLayout(routeData.PageType)" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<MudContainer MaxWidth="MaxWidth.Large">
					<div class="d-flex flex-column">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 569 384.7" width="100%" height="100%" style="margin-top:25%; max-height:371.84px; max-width:550px;">
						</svg>
						<MudText Typo="Typo.h5" Class="mt-6" Align="Align.Center">
						</MudText>
					</div>
				</MudContainer>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>

@code {
	private Type GetLayout(Type page)
	{
		if (page.FullName?.Contains("Login") == true)
		{
			return typeof(LoginLayout);
		}

		return typeof(MainLayout);
	}
}
