@page "/"

<section class="slider-area">
    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">


        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/home_banner_238_02172025030409.png?speedsize=w_1366">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-1">
                                <h2 class="slide-title">Pearls Spring<span>Collection</span></h2>
                                <h4 class="slide-desc">New pearl earrings and more from $99</h4>
                                <a href="shop.html" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="https://img.freepik.com/premium-psd/jewellery-golden-luxury-banner-template_1073294-20.jpg?w=1380">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-2">
                                <h2 class="slide-title">Diamonds Jewelry <span>Collection</span></h2>
                                <h4 class="slide-desc">Shukra Yogam & Silver Power Silver Saving Schemes.</h4>
                                <a href="shop.html" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="https://img.freepik.com/free-psd/make-up-banner-template-concept_23-2148608124.jpg?t=st=1742298505~exp=1742302105~hmac=2b750257a22270a05de2cf9469e860f12b2eec473721051f02b3200a93f3599a&w=1380">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-3">
                                <h2 class="slide-title">Family Jewelry <span>Collection</span></h2>
                                <h4 class="slide-desc">Designer Jewelry Necklaces-Bracelets-Earings</h4>
                                <a href="shop.html" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
