

<div class="mb-3" id="divZipDT" >
    <form id="uploadForm" asp-controller="Jewellery" asp-action="UploadProductCollectionImages" method="post" enctype="multipart/form-data">
        <div class="mb-4">
            <label for="excelFile" class="form-label fw-bold">Select Zip File</label>
            <input type="file" class="form-control form-control-lg" id="zipFile" name="zipFile" accept=".zip" required>
            <small id="fileError" style="color: red; display: none;">File size must not exceed 4 GB.</small>
        </div>
        <div id="loader" style="display:none;">
            <span class="spinner-border text-primary" role="status"></span> AIMigrate Uploading...
        </div>
        <button id="uploadBtn" type="submit" class="btn btn-theme w-100"> Start AIMigrate Tools</button>
    </form>
</div>