
<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h4">Category List</h2>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-body p-0">
                    <div class="row mb-2" id="categoryList">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12" id="propertyDT">
            
        </div>
    </div>
</div>


@section Scripts{
    <script>
        //categoryTable
        $(document).ready(function () {
            categoryList();

            $('.clickable-row').on('click', function () {
                var propertyName = $(this).data('propertyname'); // Ensure correct casing in data attribute

                $.ajax({
                    url: '@Url.Action("JewelryPropertyItems", "Category")' + '?propertyName=' + encodeURIComponent(propertyName),
                    method: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        $("#propertyDT").empty().html(data); // Clear and update content
                    },
                    error: function (xhr, status, error) {
                        console.error('API call failed:', error);
                    }
                });
            });

        function categoryList()
        {
            $.ajax({
                url: '@Url.Action("CategoryList", "Category")',
                type: 'GET',
                success: function (result)
                {
                    $('#categoryList').html("");
                    $('#categoryList').html(result);
                },
                error: function (xhr, status, error)
                {
                    console.error('Error loading category list:', error);
                }
            });
        }
        });
         
    </script>
}