@inherits LayoutComponentBase


<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />


<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center" Style="height: 100vh;">
    <MudPaper Elevation="25" Class="pa-8 text-center" Width="100%" MaxWidth="500px">
        <h2>Admin Panel</h2>
        @Body
    </MudPaper>
</MudContainer>


@code {
	private MudTheme _currentTheme = new MudBlazorAdminDashboard();

}