@inherits LayoutComponentBase


<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />


<div class="login-background">
	<MudContainer MaxWidth="MaxWidth.Medium">
		@Body
	</MudContainer>
</div>


@code 
{
	private MudTheme _currentTheme = new MudBlazorAdminDashboard();
}