<div id="loader-wrapper">
    <div id="loader-content">
        <div class="ri-progress-4-fill">
            <img src="~/assets/Loader/JF-WEB-LOADER.gif" style="width:120px;" />
        </div>
        @*<div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>*@
        <div id="loader-percentage">0%</div>
    </div>
</div>
