
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- wishlist main wrapper start -->
<div class="wishlist-main-wrapper section-padding" id="diamondComparisonContent">
    
</div>

@section Scripts
{
    <script>
        let wishlist = JSON.parse(localStorage.getItem("wishlist")) || [];

        $(document).ready(function(){

            getWishList();
        });

        function getWishList(){
            debugger;
            selectedDiamonds = JSON.parse(localStorage.getItem('selectedDiamonds')) || [];
                    if (selectedDiamonds.length > 0) {
                        $.ajax({
                            url: '/Wishlist/GetDiamondsByIds', // Change this to your actual route
                            type: 'GET',
                            data: {
                                diamondIds: selectedDiamonds.join(',') // Send the array as a parameter
                            },
                            success: function (data) {
                                console.log(data);
                                $("#diamondComparisonContent").html(''); // Clear the existing content
                                $("#diamondComparisonContent").html(data); // Insert the new content returned from the server
                            },
                            error: function (error) {
                                console.error('Error fetching data:', error);
                            }
                        });

                    }
                    else
                    {
                        alert("Please select at least one diamond to compare.");
                    }

        }

    </script>
}

