
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-container padding-top-20 padding-bottom-20">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h2>Wishlist</h2>
        </div>
    </div>
</div>
<!-- wishlist main wrapper start -->
<div class="wishlist-main-wrapper padding-bottom-30" id="diamondComparisonContent" style="min-height:450px;">

</div>

@section Scripts
{
    <script>
        let wishlist = JSON.parse(localStorage.getItem("wishlist")) || [];

        $(document).ready(function () {

            getWishList();
        });

        function getWishList() {
            debugger;

            if (wishlist.length > 0) {
                $.ajax({
                    url: '/Wishlist/GetWishListByIds', // Change this to your actual route
                    type: 'GET',
                    data: {
                        diamondIds: wishlist.join(',') // Send the array as a parameter
                    },
                    success: function (data) {
                        console.log(data);
                        $("#diamondComparisonContent").html(''); // Clear the existing content
                        $("#diamondComparisonContent").html(data); // Insert the new content returned from the server
                    },
                    error: function (error) {
                        console.error('Error fetching data:', error);
                    }
                });

            }
            else {
                alert("Please select at least one diamond to compare.");
            }

        }

    </script>
}

