@page "/"


<section id="hero" class="section light-background">
	<div class="container">
		<div class="row gy-4">
			<!-- Background Video -->
			<video id="fst-video" loop autoplay muted style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -2;">
				<source src="Videos/diamond.mp4" type="video/mp4">
			</video>

			<!-- Content Overlay -->
			@* <div class="content-overlay">
				<img src="Images/diamond.png" style="width:200px;" />
				<h2 class="text-info">Godhani Jems</h2>
			</div> *@
			<div class="content-overlay">

			</div>

			<!-- Animated Background Symbols -->
			<div id="background-header">
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
			</div>
		</div>
	</div>
</section>





<section id="featured-services" class="featured-services section">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Godhani Jems</h2>
		<p><span>Godhani Jems</span> <span class="description-title">Difference</span></p>
	</div><!-- End Section Title -->
	<div class="container">

		<div class="row gy-4">

			<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item position-relative">
					<div class="icon"><img src="Images/diamond.png" style="width:35px;" /></div>
					<h4><a href="#" class="stretched-link">Lab Grow Diamond & Jewelry</a></h4>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
				<div class="service-item position-relative">
					<div class="icon">
						<img src="Images/shopping-cart_7835563.png" style="width:35px;" />
					</div>
					<h4>
						<a href="" class="stretched-link">
							3% of each purchase goes to your choice of charity
						</a>
					</h4>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
				<div class="service-item position-relative">
					<div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
					<h4><a href="" class="stretched-link">Laser inscribed diamonds with Godhani Jems logo</a></h4>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
				<div class="service-item position-relative">
					<div class="icon"><i class="bi bi-broadcast icon"></i></div>
					<h4>
						<a href="" class="stretched-link">

							24/7 Customer Service
						</a>
					</h4>
				</div>
			</div>

		</div>

	</div>

</section>

<section id="about" class="about section light-background">

	<div class="container section-title" data-aos="fade-up">
		<h2>About</h2>
		<p><span>Find Out More</span> <span class="description-title">About Us</span></p>
	</div>

	<div class="container">

		<div class="row gy-3">

			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<img src="Images/owner.jpg" alt="" class="img-fluid">
			</div>

			<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
				<div class="about-content ps-0 ps-lg-3">
					<h3>Founders</h3>
					<p class="fst-italic">
						We are on a mission to make this world a better place by first starting with us and our business.
						Godhani family and our team members are self-made businessmen with over 20 years of experience in the Diamond and Jewelry Industry. Our Lab Men have built this business as an embodiment of their dream and a lifetime goal. They have seen this industry strive but did not feel 100% satisfied with their accomplishment. They wanted to do something for the world, so that they can leave a positive footprint for the next generations. Our brand is a brand they built that promotes the betterment in communities and preserve our mother nature. They believe Godhani Jems is the links for the smiles that will pass from the lab to the world.
					</p>
					<ul>
						<li>
							<i class="bi bi-diagram-3"></i>
							<div>
								<h4>Short Description</h4>
								<p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
							</div>
						</li>
						<li>
							<i class="bi bi-fullscreen-exit"></i>
							<div>
								<h4>Short Description</h4>
								<p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
							</div>
						</li>
					</ul>
					<p>
						Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum
					</p>
				</div>

			</div>
		</div>

	</div>

</section>

<section id="services" class="services section">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Product Type</h2>
		<p><span>Shop By</span> <span class="description-title"> Product Type</span></p>
	</div><!-- End Section Title -->

	<div class="container">
		<div class="row gy-4">

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="card">
					<img src="Images/Rings.jpg" class="card-img-top" alt="Rings">
					<div class="card-body">
						<h5 class="card-title">Rings</h5>
						<p class="card-text">Explore a variety of rings with different designs and materials for every occasion. Discover elegance in every piece.</p>
						<a href="#" class="btn btn-primary">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
				<div class="card">
					<img src="Images/Earings.jpg" class="card-img-top" alt="Earrings">
					<div class="card-body">
						<h5 class="card-title">Earrings</h5>
						<p class="card-text">Browse our collection of beautiful earrings in various styles, perfect for every day or special events.</p>
						<a href="#" class="btn btn-primary">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
				<div class="card">
					<img src="Images/Nackless.jpg" class="card-img-top" alt="Necklaces">
					<div class="card-body">
						<h5 class="card-title">Necklaces</h5>
						<p class="card-text">Explore our stunning necklaces collection, with delicate and statement pieces for any occasion.</p>
						<a href="#" class="btn btn-primary">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
				<div class="card">
					<img src="Images/More.jpg" class="card-img-top" alt="More Products">
					<div class="card-body">
						<h5 class="card-title">More</h5>
						<p class="card-text">Explore other stunning jewelry pieces like bracelets, watches, and more to complete your collection.</p>
						<a href="#" class="btn btn-primary">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



