@page "/"
@page "/pages/authentication/login"
@layout LoginLayout

@using System.ComponentModel.DataAnnotations
@using AdminDashboard.Server.Service.IService
@using global::Models

@inject IAuthenticationService AdminLoginService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<MudGrid>

<EditForm Model="@loginModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
        <!-- Left Side Image Column -->
        <MudItem xs="12" sm="6" lg="12">
            <MudCard Style="background-color:lightgray;text-align:center;">
                <MudCardContent>
                    <h2>Admin Panel</h2>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" lg="12">
            <MudCard Style="background-color:lightgray;">
                <MudCardContent>
                    <img src="images/logo-text-min.png" alt="Cool Image" style="width: 100%; height: 100%; object-fit: cover;" />
                </MudCardContent>
            </MudCard>
        </MudItem>

        <!-- Right Side Form Column -->
        <MudItem xs="12" sm="6" lg="12">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Email" Class="mt-3"
                                  @bind-Value="loginModel.UserName" For="@(() => loginModel.UserName)" Variant="Variant.Outlined" />
                    <MudTextField Label="Password" Class="mt-3"
                                  @bind-Value="loginModel.Password" For="@(() => loginModel.Password)" InputType="InputType.Password" Variant="Variant.Outlined" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
</EditForm>

</MudGrid>


@code {
    private AdminLoginModel loginModel = new AdminLoginModel();
    bool success;

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            var response = await AdminLoginService.AdminSignInAsync(loginModel);

            if (response.IsAuthSuccessful)
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "token", response.Token);

                success = true;
                StateHasChanged();
                NavigationManager.NavigateTo("/personal/dashboard");
            }
        }
        catch (Exception ex)
        {

        }
    }
}