@page "/"
@page "/pages/authentication/login"
@layout LoginLayout

@using System.ComponentModel.DataAnnotations
@using AdminDashboard.Server.Service.IService
@using global::Models

@inject IAuthenticationService AdminLoginService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager



<MudPaper Class="d-inline-flex pa-4">
    <img src="/images/_login_process.jpg" alt="Login Image" />
</MudPaper>

<MudPaper Class="d-inline-flex pa-4">
    <EditForm Model="@loginModel" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />

        <MudCard Class="d-flex flex-column justify-content-center align-items-center" Style="width: 100%; min-height: 50vh;">
            <!-- Sign In Form Header -->
            <MudCardContent Class="d-flex flex-column align-items-center p-0">
                <h6 class="mud-typography mud-typography-h6 mb-4">Sign In</h6>

                <!-- Social Login Buttons -->
                <div class="d-flex mb-3">
                    <MudIconButton Icon="@Icons.Material.Filled.Facebook" aria-label="facebook" />
                    <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary" aria-label="twitter" />
                </div>
            </MudCardContent>

            <!-- Error Message / Loading Indicator -->
            <MudCardContent Class="p-0">
                @if (!success)
                {
                    <span class="text-danger">@Message</span>
                }
                @if (isLoading)
                {
                    <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                }
            </MudCardContent>

            <!-- Form Fields -->
            <MudCardContent Class="p-0">
                <MudTextField Label="Email" FullWidth="true" @bind-Value="loginModel.UserName" Variant="Variant.Outlined" />
                <MudTextField Label="Password" FullWidth="true" @bind-Value="loginModel.Password" InputType="InputType.Password" Variant="Variant.Outlined" />
                <MudCheckBox @bind-Checked="loginModel.RememberMe" Label="Remember Me" />
            </MudCardContent>

            <!-- Submit Button -->
            <MudCardActions Class="d-flex justify-content-center w-100 p-0">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true">Login</MudButton>
            </MudCardActions>

            <!-- Forgot Password Link -->
            <MudCardContent Class="d-flex justify-content-center p-0">
                <MudLink Href="/pages/authentication/forgot-password" Color="Color.Dark" Style="text-align:center;">Forgot Password?</MudLink>
            </MudCardContent>
        </MudCard>
    </EditForm>
</MudPaper>

    

@code {
    private AdminLoginModel loginModel = new AdminLoginModel();
    bool success;
    string Message;
    bool isLoading = false;

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            isLoading = true;
            StateHasChanged();

            var response = await AdminLoginService.AdminSignInAsync(loginModel);

            if (response.IsAuthSuccessful)
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "token", response.Token);

                success = true;
                StateHasChanged();
                NavigationManager.NavigateTo("/personal/dashboard");
            }
            else
            {
                success = false;
            }

            if (!success)
            {
                Message = "Invalid Username or Password. Please try again.";
            }
        }
        catch (Exception ex)
        {
            success = false;
            Message = "Something went wrong. Please try again later.";
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
}
