<div class="login-reg-form-wrap">
    <h5>Sign In</h5>
    <form id="loginFrm" novalidate>
        <div class="single-input-item">
            <input id="txtUsername" placeholder="Email or Username" type="email" class="form-control" />
            <span id="lblUsername" class="text-danger"></span>
        </div>

        <div class="single-input-item">
            <input id="txtPassword" placeholder="Enter your password" type="password" class="form-control" />
            <span id="lblPassword" class="text-danger"></span>
        </div>

        <div class="single-input-item">
            <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                <div class="remember-meta">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="rememberMe" class="custom-control-input" />
                        <label class="custom-control-label" for="rememberMe">Remember Me</label>
                    </div>
                </div>
                <a href="#" class="forget-pwd">Forget Password?</a>
            </div>
        </div>

        <div class="single-input-item">
            <button type="submit" class="btn btn-sqr" id="btnLogin">Login</button>
        </div>
    </form>
</div>
