@model Models.CustomerRegisterDTO

<div class="login-reg-form-wrap sign-up-form">
    <h5>Signup Form</h5>
    <form id="signupForm" asp-controller="Account" asp-action="RegisterProcess" method="post">

        
        <!-- First Name -->
        <div class="single-input-item">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Enter your first name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <!-- Middle Name -->
        <div class="single-input-item">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control" placeholder="Enter your middle name" />
        </div>

        <!-- Last Name -->
        <div class="single-input-item">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="Enter your last name" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <!-- Gender -->
        <div class="single-input-item">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="">-- Select Gender --</option>
            </select>
        </div>

        <!-- Phone Number -->
        <div class="single-input-item">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Enter your phone number" />
        </div>

        <!-- Email -->
        <div class="single-input-item">
            <label asp-for="EmailId"></label>
            <input asp-for="EmailId" class="form-control" placeholder="Enter your Email" />
            <span asp-validation-for="EmailId" class="text-danger"></span>
        </div>

        <!-- Password -->
        <div class="row">
            <div class="col-lg-6">
                <div class="single-input-item">
                    <label asp-for="TextPassword"></label>
                    <input asp-for="TextPassword" type="password" class="form-control" placeholder="Enter your Password" />
                    <span asp-validation-for="TextPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-input-item">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Repeat your Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="single-input-item">
            <button type="submit" id="btnSubmit" class="btn btn-sqr">Register</button>
        </div>
    </form>
</div>


