<footer class="footer-widget-area">
	<div class="footer-top section-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
					<div class="widget-item">
						<div class="widget-title">
							<div class="widget-logo text-center">
                                <a href="/">
                                    <img src="~/assets/img/logo/Jewelfacets-Logos-white.png" class="" alt="brand logo">                                    
                                </a>
							</div>
						</div>
						<div class="widget-body">
							<p>We are a team of designers and developers that create high quality wordpress, shopify, Opencart </p>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
					<div class="widget-item">
						<h6 class="widget-title text-white">Contact Us</h6>
						<div class="widget-body">
							<address class="contact-block">
								<ul>
									<li><i class="pe-7s-home"></i> 3rd Floor, Building E-2, F.P.108/P,Naginawadi Road, Opp. RJD Business HUB,Katargam, Surat - 395004.India</li>
									<li><i class="pe-7s-mail"></i> <a href="mailto:support@purejewels.co.in">support@purejewels.co.in</a></li>
									<li><i class="pe-7s-call"></i> <a href="#">+919479471400/+919479479600</a></li>
								</ul>
							</address>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
					<div class="widget-item">
						<h6 class="widget-title text-white">Information</h6>
						<div class="widget-body">
							<ul class="info-list">
								<li><a href="#">about us</a></li>
								<li><a href="#">Delivery Information</a></li>
								<li><a href="#">privet policy</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">contact us</a></li>
								<li><a href="#">site map</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
					<div class="widget-item">
						<h6 class="widget-title text-white">Follow Us</h6>
						<div class="widget-body social-link">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
            <div class="row align-items-center mt-20">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="newsletter-wrapper">
                        <h6 class="widget-title-text text-white">Signup for newsletter</h6>
                        <form class="newsletter-inner" id="mc-form">
                            <input type="email" class="news-field" id="mc-email" autocomplete="off" placeholder="Enter your email address">
                            <button class="news-btn text-white" id="mc-submit">Subscribe</button>
                        </form>
                        <!-- mail-chimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mail-chimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mail-chimp-success end -->
                            <div class="mailchimp-error"></div><!-- mail-chimp-error end -->
                        </div>
                        <!-- mail-chimp-alerts end -->
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <div class="footer-payment">
                        <img src="/assets/img/payment.png" alt="payment method">
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="copyright-text text-center">
                        <p>&copy; @DateTime.Now.Year &nbsp;&nbsp; <b>Jewel Facets.</b> <a href="#"><b>All Rights Reserved.</b></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>