

<header class="header-area">
		<div class="main-header d-none d-lg-block">
			<div class="header-top bg-gold">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="welcome-message">
								<p class="text-white">Free Matching Band when You Design Your Ring.</p>
							</div>
						</div>
						<div class="col-lg-6 text-right">
							<div class="header-top-settings">
								<ul class="nav align-items-center justify-content-end">
									<!-- Currency Dropdown -->
									<li class="currency-wrap text-white">
										$ Currency
										<i class="fa fa-angle-down"></i>
										<ul class="dropdown-list currency-list">
											<li><a>$ USD</a></li>
											<li><a>€ EURO</a></li>
											<li><a>£ GBP</a></li>
											<li><a>¥ JPY</a></li>
											<li><a>$ AUD</a></li>
											<li><a>$ CAD</a></li>
											<li><a>CHF</a></li>
											<li><a>₹ INR</a></li>
										</ul>
									</li>

									<!-- Language Dropdown -->
									<li class="language text-white">
										<img src="assets/img/icon/en.png" alt="English Flag"> English
										<i class="fa fa-angle-down"></i>
										<ul class="dropdown-list">
											<!-- Arabic -->
											<li><a href="#"><img src="assets/img/icon/sa.png" alt="Saudi Flag"> Arabic</a></li>
											<!-- Dutch -->
											<li><a href="#"><img src="assets/img/icon/nl.png" alt="Dutch Flag"> Dutch</a></li>
											<!-- English -->
											<li><a href="#"><img src="assets/img/icon/en.png" alt="English Flag"> English</a></li>
											<!-- French -->
											<li><a href="#"><img src="/assets/img/icon/fr.png" alt="French Flag"> French</a></li>
											<!-- German -->
											<li><a href="#"><img src="/assets/img/icon/de.png" alt="German Flag"> German</a></li>
											<!-- Italian -->
											<li><a href="#"><img src="/assets/img/icon/it.png" alt="Italian Flag"> Italian</a></li>
											<!-- Japanese -->
											<li><a href="#"><img src="/assets/img/icon/jp.png" alt="Japanese Flag"> Japanese</a></li>
											<!-- Korean -->
											<li><a href="#"><img src="/assets/img/icon/kr.png" alt="Korean Flag"> Korean</a></li>
											<!-- Portuguese -->
											<li><a href="#"><img src="/assets/img/icon/pt.png" alt="Portuguese Flag"> Portuguese</a></li>
											<!-- Spanish -->
											<li><a href="#"><img src="/assets/img/icon/es.png" alt="Spanish Flag"> Spanish</a></li>
											<!-- Swedish -->
											<li><a href="#"><img src="/assets/img/icon/se.png" alt="Swedish Flag"> Swedish</a></li>
										</ul>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-second d-none d-lg-block">
				<div class="row align-items-center">
					<div class="col-lg-2">

					</div>
					<div class="col-lg-8 text-center">
						<div class="logo">
							<a href="/">
								<img src="/assets/img/logo/logo-text-min.png" style="width:350px;" alt="Jewel Facets">
							</a>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="header-right d-flex align-items-center justify-content-end">
							<div class="header-configure-area">
								<ul class="nav">
									<li class="user-hover">
										<a href="/Account/Index">
											<i class="pe-7s-user"></i>
										</a>
									</li>
									<li>
										<a href="/Wishlist/Index">
											<i class="pe-7s-like"></i>
											<div class="notification">0</div>
										</a>
									</li>
									<li>
										<a href="#" class="minicart-btn">
											<i class="pe-7s-shopbag"></i>
											<div class="notification">2</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-main-area sticky">
				<div class="container-fluid">
					<div class="row align-items-center position-relative">
						<div class="col-lg-2">
							<div class="logo d-lg-block d-none">
								<a href="/">
									<img src="/assets/img/logo/logo-old.png" style="width: 35px;" alt="Brand Logo">
								</a>
							</div>
						</div>
						<div class="col-lg-8 position-static">
							<div class="main-menu-area">
								<div class="main-menu">
									<nav class="desktop-menu">
										<ul>
											<li class="active position-static">
												<a href="#">Engagement</a>
												<ul class="megamenu dropdown">
													<li class="mega-title">
														<span>Shop by Style</span>
														<ul>
															<li><a href="/Products/ProductByStyleName=solitaire">Solitaire</a></li>
															<li><a href="/Products/ProductByStyleName=side-stone">Side Stone</a></li>
															<li><a href="/Products/ProductByStyleName=halo">Halo</a></li>
															<li><a href="/Products/ProductByStyleName=three-stone">Three Stone</a></li>
															<li><a href="/Products/ProductByStyleName=hidden-halo">Hidden Halo</a></li>
															<li><a href="/Products/ProductByStyleName=vintage">Vintage</a></li>
															<li><a href="/Products/ProductByStyleName=bridal-sets">Bridal Sets</a></li>
															<li><a href="/Products/ProductByStyleName=gemstone">Gemstone</a></li>
															<li><a href="/Products/ProductByStyleName=badgley-mischka"> Badgley Mischka</a></li>
															<li><a href="/Products/ProductByStyleName=customer-favorites">Customer Favorites</a></li>
														</ul>
													</li>
													<li class="mega-title">
														<span>Shop by Shape</span>
														<ul>
															<li><a href="cart.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/pear.png" style="width:45px;">Pear</a></li>
															<li><a href="checkout.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/oval.png" style="width:45px;">Oval</a></li>
														</ul>
													</li>
													<li class="mega-title">
														<span></span>
														<ul>
															<li><a href="cart.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/pear.png" style="width:45px;">Pear</a></li>
															<li><a href="checkout.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/oval.png" style="width:45px;">Oval</a></li>
														</ul>
													</li>
													<li class="mega-title">
														<span>Shop by Metal</span>
														<ul>
															<li><a href="cart.html">Yellow Gold</a></li>
															<li><a href="checkout.html">White Gold</a></li>
															<li><a href="compare.html">Rose Gold</a></li>
															<li><a href="wishlist.html">Platinum</a></li>
														</ul>
													</li>
													<li class="megamenu-banners d-none d-lg-block">
														<a href="product-details.html">
															<img src="/assets/img/banner/img1-static-menu.jpg" alt="">
														</a>
													</li>
													<li class="megamenu-banners d-none d-lg-block">
														<a href="product-details.html">
															<img src="/assets/img/banner/img2-static-menu.jpg" alt="">
														</a>
													</li>
												</ul>
											</li>
											<li class="position-static">
												<a href="#">Wedding</a>
												<ul class="megamenu dropdown">
													<li class="mega-title">

														<span>Shop by Style</span>
														<ul>
															<li><a href="shop.html">Solitaire</a></li>
															<li><a href="shop-grid-right-sidebar.html">Side Stone</a></li>
															<li><a href="shop-list-left-sidebar.html">Halo</a></li>
															<li><a href="shop-list-right-sidebar.html">Three Stone</a></li>
															<li><a href="shop-list-right-sidebar.html">Hidden Halo</a></li>
															<li><a href="shop-list-right-sidebar.html">Vintage</a></li>
															<li><a href="shop-list-right-sidebar.html">Bridal Sets</a></li>
															<li><a href="shop-list-right-sidebar.html">Gemstone</a></li>
															<li><a href="shop-list-right-sidebar.html"> Badgley Mischka</a></li>
															<li><a href="shop-list-right-sidebar.html">Customer Favorites</a></li>

														</ul>
													</li>
													<li class="mega-title">
														<span>Shop by Shape</span>
														<ul>
															<li><a href="cart.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/pear.png" style="width:45px;">Pear</a></li>
															<li><a href="checkout.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/oval.png" style="width:45px;">Oval</a></li>
														</ul>
													</li>
													<li class="mega-title">
														<span></span>
														<ul>
															<li><a href="cart.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/pear.png" style="width:45px;">Pear</a></li>
															<li><a href="checkout.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/oval.png" style="width:45px;">Oval</a></li>
														</ul>
													</li>
													<li class="mega-title">
														<span>Shop by Metal</span>
														<ul>
															<li><a href="cart.html">Yellow Gold</a></li>
															<li><a href="checkout.html">White Gold</a></li>
															<li><a href="compare.html">Rose Gold</a></li>
															<li><a href="wishlist.html">Platinum</a></li>
														</ul>
													</li>
													<li class="megamenu-banners d-none d-lg-block">
														<a href="product-details.html">
															<img src="/assets/img/banner/img1-static-menu.jpg" alt="">
														</a>
													</li>
													<li class="megamenu-banners d-none d-lg-block">
														<a href="product-details.html">
															<img src="/assets/img/banner/img2-static-menu.jpg" alt="">
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="shop.html">Jewelry </a>
												<ul class="dropdown">
													<li>
														<a href="#">shop grid layout <i class="fa fa-angle-right"></i></a>
														<ul class="dropdown">
															<li><a href="shop.html">shop grid left sidebar</a></li>
															<li><a href="shop-grid-right-sidebar.html">shop grid right sidebar</a></li>
															<li><a href="shop-grid-full-3-col.html">shop grid full 3 col</a></li>
															<li><a href="shop-grid-full-4-col.html">shop grid full 4 col</a></li>
														</ul>
													</li>
													<li>
														<a href="/Diamond/Index">Diamonds <i class="fa fa-angle-right"></i></a>
														<ul class="dropdown">
															<li><a href="shop-list-left-sidebar.html">shop list left sidebar</a></li>
															<li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
															<li><a href="shop-list-full-width.html">shop list full width</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Custom <i class="fa fa-angle-right"></i></a>
														<ul class="dropdown">
															<li><a href="product-details.html">product details</a></li>
															<li><a href="product-details-affiliate.html">product details affiliate</a></li>
															<li><a href="product-details-variable.html">product details variable</a></li>
															<li><a href="product-details-group.html">product details group</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="position-static">
												<a href="/Diamond/Index">Diamond </a>
												<ul class="megamenu dropdown">
													<li class="mega-title">
														<span>Shop by Shape</span>
														<ul>
															<li><a href="cart.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/pear.png" style="width:45px;">Pear</a></li>
															<li><a href="checkout.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/oval.png" style="width:45px;">Oval</a></li>
														</ul>
													</li>
													<li class="mega-title">
														<span></span>
														<ul>
															<li><a href="cart.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/pear.png" style="width:45px;">Pear</a></li>
															<li><a href="checkout.html"><img src="https://media.grownbrilliance.com/a2c5372a-e16a-4ea3-b361-da9fdc89a59f/https://images.grownbrilliance.com/general_images/homeimg/diamond_shape/oval.png" style="width:45px;">Oval</a></li>
														</ul>
													</li>
													<li class="megamenu-banners d-none d-lg-block">
														<a href="product-details.html">
															<img src="/assets/img/banner/img1-static-menu.jpg" alt="">
														</a>
													</li>
												</ul>
											</li>
											<li><a href="contact-us.html">Custom</a></li>
											<li>
												<a href="blog-left-sidebar.html">Collection </a>
												<ul class="dropdown">
													<li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
													<li><a href="blog-list-left-sidebar.html">blog list left sidebar</a></li>
													<li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
													<li><a href="blog-list-right-sidebar.html">blog list right sidebar</a></li>
													<li><a href="blog-grid-full-width.html">blog grid full width</a></li>
													<li><a href="blog-details.html">blog details</a></li>
													<li><a href="blog-details-left-sidebar.html">blog details left sidebar</a></li>
													<li><a href="blog-details-audio.html">blog details audio</a></li>
													<li><a href="blog-details-video.html">blog details video</a></li>
													<li><a href="blog-details-image.html">blog details image</a></li>
												</ul>
											</li>
											<li><a href="contact-us.html">Education</a></li>
										</ul>
									</nav>
									<!-- main menu navbar end -->
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<ul class="nav justify-content-end">
								<li class="header-search-container mr-0">
									<button class="search-trigger d-block"><i class="pe-7s-search"></i></button>
									<form class="header-search-box d-none">
										<input type="text" placeholder="Search entire store hire" class="header-search-field">
										<button class="header-search-btn"><i class="pe-7s-search"></i></button>
									</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-header d-lg-none d-md-block sticky">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="mobile-main-header">
							<div class="mobile-logo">
								<a href="\">
									<img src="/assets/img/logo/logo-text-min.png" alt="Jewel Facets">
								</a>
							</div>
							<div class="mobile-menu-toggler">
								<div class="mini-cart-wrap">
									<a href="cart.html">
										<i class="pe-7s-shopbag"></i>
										<div class="notification">0</div>
									</a>
								</div>
								<button class="mobile-menu-btn">
									<span></span>
									<span></span>
									<span></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<aside class="off-canvas-wrapper">
			<div class="off-canvas-overlay"></div>
			<div class="off-canvas-inner-content">
				<div class="btn-close-off-canvas">
					<i class="pe-7s-close"></i>
				</div>

				<div class="off-canvas-inner">
					<div class="search-box-offcanvas">
						<form>
							<input type="text" placeholder="Search Here...">
							<button class="search-btn"><i class="pe-7s-search"></i></button>
						</form>
					</div>
					<div class="mobile-navigation">
						<nav>
							<ul class="mobile-menu">
								<li class="menu-item-has-children">
									<a href="index.html">Engagement</a>
									<ul class="megamenu dropdown">
										<li class="mega-title menu-item-has-children">
											<a href="#">column 01</a>
											<ul class="dropdown">
												<li><a href="shop.html">shop grid left sidebar</a></li>
												<li><a href="shop-grid-right-sidebar.html">shop grid right sidebar</a></li>
												<li><a href="shop-list-left-sidebar.html">shop list left sidebar</a></li>
												<li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
											</ul>
										</li>
										<li class="mega-title menu-item-has-children">
											<a href="#">column 02</a>
											<ul class="dropdown">
												<li><a href="product-details.html">product details</a></li>
												<li><a href="product-details-affiliate.html">product details affiliate</a></li>
												<li><a href="product-details-variable.html">product details variable</a></li>
												<li><a href="privacy-policy.html">privacy policy</a></li>
											</ul>
										</li>
										<li class="mega-title menu-item-has-children">
											<a href="#">column 03</a>
											<ul class="dropdown">
												<li><a href="cart.html">cart</a></li>
												<li><a href="checkout.html">checkout</a></li>
												<li><a href="compare.html">compare</a></li>
												<li><a href="/Wishlist/Index">wishlist</a></li>
											</ul>
										</li>
										<li class="mega-title menu-item-has-children">
											<a href="#">column 04</a>
											<ul class="dropdown">
												<li><a href="my-account.html">my-account</a></li>
												<li><a href="login-register.html">login-register</a></li>
												<li><a href="about-us.html">about us</a></li>
												<li><a href="contact-us.html">contact us</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Wedding</a>

								</li>
								<li class="menu-item-has-children ">
									<a href="#">Jewelry</a>
									<ul class="dropdown">
										<li class="menu-item-has-children">
											<a href="#">shop grid layout</a>
											<ul class="dropdown">
												<li><a href="shop.html">shop grid left sidebar</a></li>
												<li><a href="shop-grid-right-sidebar.html">shop grid right sidebar</a></li>
												<li><a href="shop-grid-full-3-col.html">shop grid full 3 col</a></li>
												<li><a href="shop-grid-full-4-col.html">shop grid full 4 col</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="#">shop list layout</a>
											<ul class="dropdown">
												<li><a href="shop-list-left-sidebar.html">shop list left sidebar</a></li>
												<li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
												<li><a href="shop-list-full-width.html">shop list full width</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="#">products details</a>
											<ul class="dropdown">
												<li><a href="product-details.html">product details</a></li>
												<li><a href="product-details-affiliate.html">product details affiliate</a></li>
												<li><a href="product-details-variable.html">product details variable</a></li>
												<li><a href="product-details-group.html">product details group</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children ">
									<a href="/Diamond/Index">Diamond</a>
									<ul class="dropdown">
										<li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
										<li><a href="blog-list-left-sidebar.html">blog list left sidebar</a></li>
										<li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
										<li><a href="blog-list-right-sidebar.html">blog list right sidebar</a></li>
										<li><a href="blog-grid-full-width.html">blog grid full width</a></li>
										<li><a href="blog-details.html">blog details</a></li>
										<li><a href="blog-details-left-sidebar.html">blog details left sidebar</a></li>
										<li><a href="blog-details-audio.html">blog details audio</a></li>
										<li><a href="blog-details-video.html">blog details video</a></li>
										<li><a href="blog-details-image.html">blog details image</a></li>
									</ul>
								</li>
								<li><a href="contact-us.html">Custom</a></li>
								<li><a href="contact-us.html">Collections</a></li>
								<li><a href="contact-us.html">Education</a></li>
							</ul>
						</nav>
						<!-- mobile menu navigation end -->
					</div>
					<!-- mobile menu end -->

					<div class="mobile-settings">
						<ul class="nav">
							<li>
								<div class="dropdown mobile-top-dropdown">
									<a href="#" class="dropdown-toggle" id="currency" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Currency

									</a>
									<div class="dropdown-menu" aria-labelledby="currency">
										<a class="dropdown-item" href="#">$ USD</a>
										<a class="dropdown-item" href="#">$ EURO</a>
									</div>
								</div>
							</li>
							<li>
								<div class="dropdown mobile-top-dropdown">
									<a href="#" class="dropdown-toggle" id="myaccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										My Account

									</a>
									<div class="dropdown-menu" aria-labelledby="myaccount">
										<a class="dropdown-item" href="my-account.html">my account</a>
										<a class="dropdown-item" href="login-register.html"> login</a>
										<a class="dropdown-item" href="login-register.html">register</a>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<!-- offcanvas widget area start -->
					<div class="offcanvas-widget-area">
						<div class="off-canvas-contact-widget">
							<ul>
								<li>
									<i class="fa fa-mobile"></i>
									<a href="#">0123456789</a>
								</li>
								<li>
									<i class="fa fa-envelope-o"></i>
									<a href="#">info@yourdomain.com</a>
								</li>
							</ul>
						</div>
						<div class="off-canvas-social-widget">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-pinterest-p"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-youtube-play"></i></a>
						</div>
					</div>
					<!-- offcanvas widget area end -->
				</div>
			</div>
		</aside>
	</header>