<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<!-- Set execution timeout and max request length -->
		<httpRuntime
		  maxRequestLength="2147483647"
		  executionTimeout="7200"
		  useFullyQualifiedRedirectUrl="false"
		  requestValidationMode="2.0" />
	</system.web>

	<system.webServer>
		<!-- Allow large files in IIS -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="3368709120" />
			</requestFiltering>
		</security>

		<!-- Optional: Set max timeout -->
		<!--<serverRuntime uploadReadAheadSize="1048576" />-->
	</system.webServer>
</configuration>
