@page "/"
@namespace AdminDashboard.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jewel Facets - Admin Dashboard</title>
    <meta name="description" content="Jewel Faceds Dashboard">
    <meta name="keywords" content="Jewel Faceds Dashboard">
    <meta property="og:type" content="Jewel Faceds Dashboard">
    <meta property="og:title" content="Jewel Faceds Dashboard">
    <meta property="og:url" content="https://JewelFaceds.com/">
    <meta property="og:site_name" content="Jewel Faceds">
    <meta property="og:description" content="Jewel Faceds Dashboard">
    @* <meta property="og:image" content="images/AdminDashboardTemplate.png"> *@
    @* <meta name="twitter:card" content="summary_large_image"> *@
    <meta name="twitter:title" content="Jewel Faceds Dashboard">
    <meta name="twitter:description" content="MIT-licensed Jewel Faceds Dashboard Template">
    @* <meta name="twitter:image" content="images/AdminDashboardTemplate.png"> *@
    <base href="~/" />
    <link href="~/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/MudBlazor.ThemeManager/MudBlazorThemeManager.css" rel="stylesheet" />
    <link href="_content/Heron.MudCalendar/Heron.MudCalendar.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script>
        window.localStorageInterop = {
            getUserId: function () {
                return localStorage.getItem("userId");
            }
        };
    </script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script type="module" src="_content/Heron.MudCalendar/Heron.MudCalendar.min.js"></script>
</body>
</html>
