@model List<DataAccess.Entities.DiamondFileUploadHistory>
<section class="section">
    
    <table class="table table-hover table-bordered mb-0 table-responsive" id="bandTable">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" class="chkId" id="chkBandIds" /></th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Title</th>
                <th scope="col">Vender</th>
                <th scope="col">Style</th>
                <th scope="col">Metal(Color)</th>
                <th scope="col">Diameter</th>
                <th scope="col">Length</th>
                <th scope="col">Band.Width</th>
                <th scope="col">Weight</th>
                <th scope="col">CTW</th>
                <th scope="col">Center.Shape</th>
                <th scope="col">Center.Carat</th>
                <th scope="col">Certification</th>
                <th scope="col">Karat</th>
                <th scope="col">Price</th>
                <th scope="col">Wholesale.Cost</th>
                <th scope="col">Accent.Stone.Shape</th>
                <th scope="col">MM.Size</th>
                <th scope="col">Dia.Wt</th>
                <th scope="col">No.Of.Stones</th>
                <th scope="col">Grades</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
               
            }
            else
            {
                <tr>
                    <td colspan="25"> No data found</td>
                </tr>
            }
        </tbody>
    </table>
</section>