@model Models.DiamondData

@{
    ViewData["Title"] = "GetDiamond";
}

<div class="container-fluid">
    <div class="row mb-0">
        <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-8">
            <h4 class="text-uppercase">Diamond Details</h4>
        </div>
    </div>

    <div class="row mb-0">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <div class="card mt-2">
                <div class="card-body">
                    <form asp-action="GetDiamond">

                        <div class="row mt-2 mb-0">
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">StoneId</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="StoneId" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Step</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Step" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Type</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="TypeName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Measurement</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Measurement" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Lab</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="LabName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Shape</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="ShapeName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Carat</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Carat" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">RAP</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="RAP" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Discount</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Discount" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Price</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Price" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Amount</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Amount" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">RapAmount</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="RapAmount" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Clarity</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="ClarityName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Color</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="ColorName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Cut</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="CutName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Polish</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="PolishName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Sym</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="SymmetyName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Flor</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="FluorName" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Shade</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Shade" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Table</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Table" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Depth</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Depth" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 p-1">
                                <label class="form-label text-left mb-0">Ratio</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Ratio" disabled />
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 p-1">
                                <label class="form-label text-left mb-0">LabShape</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="LabShape" disabled />
                                </div>
                            </div>

                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-1">
                                <label class="form-label text-left mb-0">DNA</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="DNA" disabled />
                                </div>
                            </div>

                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-1">
                                <label class="form-label text-left mb-0">Certificate</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="Certificate" disabled />
                                </div>
                            </div>

                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-1">
                                <label class="form-label text-left mb-0">DiamondVideoPath</label>
                                <div>
                                    <input type="text" class="form-control form-control-sm b-dark" asp-for="DiamondVideoPath" disabled />
                                </div>
                            </div>

                        </div>

                        <div class="row mt-2 mb-0">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 offset-xxl-5 offset-xl-5  offset-lg-4 offset-md-2">
                                <button class="btn btn-theme">Save</button>
                                <a asp-action="Index" class="btn btn-dark ml-2">Back to List</a>
                            </div>
                            <input type="hidden" class="form-control form-control-sm b-dark" asp-for="Id" disabled />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
