@model Models.DiamondData

@{
    ViewData["Title"] = "GetDiamond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetDiamond">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="StoneId" class="control-label"></label>
                <input asp-for="StoneId" class="form-control" />
                <span asp-validation-for="StoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNA" class="control-label"></label>
                <input asp-for="DNA" class="form-control" />
                <span asp-validation-for="DNA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step" class="control-label"></label>
                <input asp-for="Step" class="form-control" />
                <span asp-validation-for="Step" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" />
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabShape" class="control-label"></label>
                <input asp-for="LabShape" class="form-control" />
                <span asp-validation-for="LabShape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabId" class="control-label"></label>
                <input asp-for="LabId" class="form-control" />
                <span asp-validation-for="LabId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabName" class="control-label"></label>
                <input asp-for="LabName" class="form-control" />
                <span asp-validation-for="LabName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShapeId" class="control-label"></label>
                <input asp-for="ShapeId" class="form-control" />
                <span asp-validation-for="ShapeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShapeName" class="control-label"></label>
                <input asp-for="ShapeName" class="form-control" />
                <span asp-validation-for="ShapeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAP" class="control-label"></label>
                <input asp-for="RAP" class="form-control" />
                <span asp-validation-for="RAP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RapAmount" class="control-label"></label>
                <input asp-for="RapAmount" class="form-control" />
                <span asp-validation-for="RapAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carat" class="control-label"></label>
                <input asp-for="Carat" class="form-control" />
                <span asp-validation-for="Carat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClarityId" class="control-label"></label>
                <input asp-for="ClarityId" class="form-control" />
                <span asp-validation-for="ClarityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClarityName" class="control-label"></label>
                <input asp-for="ClarityName" class="form-control" />
                <span asp-validation-for="ClarityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <input asp-for="ColorId" class="form-control" />
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorName" class="control-label"></label>
                <input asp-for="ColorName" class="form-control" />
                <span asp-validation-for="ColorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CutId" class="control-label"></label>
                <input asp-for="CutId" class="form-control" />
                <span asp-validation-for="CutId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CutName" class="control-label"></label>
                <input asp-for="CutName" class="form-control" />
                <span asp-validation-for="CutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolishId" class="control-label"></label>
                <input asp-for="PolishId" class="form-control" />
                <span asp-validation-for="PolishId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolishName" class="control-label"></label>
                <input asp-for="PolishName" class="form-control" />
                <span asp-validation-for="PolishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SymmetryId" class="control-label"></label>
                <input asp-for="SymmetryId" class="form-control" />
                <span asp-validation-for="SymmetryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SymmetyName" class="control-label"></label>
                <input asp-for="SymmetyName" class="form-control" />
                <span asp-validation-for="SymmetyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FluorId" class="control-label"></label>
                <input asp-for="FluorId" class="form-control" />
                <span asp-validation-for="FluorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FluorName" class="control-label"></label>
                <input asp-for="FluorName" class="form-control" />
                <span asp-validation-for="FluorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Table" class="control-label"></label>
                <input asp-for="Table" class="form-control" />
                <span asp-validation-for="Table" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depth" class="control-label"></label>
                <input asp-for="Depth" class="form-control" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ratio" class="control-label"></label>
                <input asp-for="Ratio" class="form-control" />
                <span asp-validation-for="Ratio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shade" class="control-label"></label>
                <input asp-for="Shade" class="form-control" />
                <span asp-validation-for="Shade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate" class="control-label"></label>
                <input asp-for="Certificate" class="form-control" />
                <span asp-validation-for="Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatePct" class="control-label"></label>
                <input asp-for="RatePct" class="form-control" />
                <span asp-validation-for="RatePct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiamondImagePath" class="control-label"></label>
                <input asp-for="DiamondImagePath" class="form-control" />
                <span asp-validation-for="DiamondImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiamondVideoPath" class="control-label"></label>
                <input asp-for="DiamondVideoPath" class="form-control" />
                <span asp-validation-for="DiamondVideoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IconPath" class="control-label"></label>
                <input asp-for="IconPath" class="form-control" />
                <span asp-validation-for="IconPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActivated" class="control-label"></label>
                <input asp-for="IsActivated" class="form-control" />
                <span asp-validation-for="IsActivated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

