@model List<Models.DiamondData>

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body" id="diamondList">
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts
{
    <script>
        $(document).ready(function(){
            getDiamondList();
        });

        function getDiamondList(){
            debugger;
         $.ajax({
            url: '@Url.Action("DiamondList", "Diamond")', // Replace 'ControllerName' with your actual controller name
            type: 'GET',
            success: function (result) {
                debugger;
                 $('#diamondList').html("");
                $('#diamondList').html(result); // Inject the partial view into this element
            },
            error: function (xhr, status, error) {
                console.error('Error loading diamond list:', error);
            }
        });

        }
    </script>
}