<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link href="~/assets/css/access-denied-style.css" rel="stylesheet" />
</head>
<body>

    <div class="svg-container">
        <svg class="lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path d="M32 2a14 14 0 00-14 14v12H14a4 4 0 00-4 4v28a4 4 0 004 4h36a4 4 0 004-4V32a4 4 0 00-4-4h-4V16A14 14 0 0032 2zm-8 14a8 8 0 1116 0v12H24V16zm24 16v24H16V32h32z" />
        </svg>
    </div>

    <h1>Access Denied</h1>
    <p>You do not have permission to view this page.</p>

</body>
</html>
